/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.container{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.main h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h6 {
  letter-spacing: 3px;
  font-family: "Comic Sans MS";
}

.main{
  padding-top: 10px;
  padding-bottom: 20px;
  background-color:#CCC;
}

.post_bottom_box{
display: flex;
justify-content: space-between;
}

.raw_left{
display: flex;
margin-left: 15px;
gap: 14px;
}

.raw_right{
display: flex;
align-self: flex-start;
}

.like-btn{
font-size: 18px;
color: #8899a6;
}

.unlike-btn{
font-size: 18px;
color: #e54747;
}

.fa-comment-dots{
color:gray;
}

a{
text-decoration: none;
}

.comment_group_item{
display:flex
}

.comment_box{
display: flex;
padding-left: 10px;
}

.item_rigth{
white-space: nowrap
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

body, html { font-size: 14px; }
@media screen and (min-width: 576px) and (max-width: 768px) { body, html { font-size: 30px; } }
@media screen and (min-width: 769px) and (max-width: 992px) { body, html { font-size: 18px; } }
@media screen and (min-width: 993px) and (max-width: 1200px) { body, html { font-size: 20px; } }
@media screen and (min-width: 1201px) { body, html { font-size: 16px; } }